.container {
  background-color: #f9fafb;
  border-style: solid;
  border-radius: 5px;
  border-color: #e4e7ec;
  border-width: 2px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 400px;
  margin: auto 0;
}

.screen {
  border: 2px;
  border-style: solid;
  border-radius: 5px;
  border-color: #d0d5dd;
  background-color: #fcfcfd;
  padding: 16px 0;
  min-height: 35px;
  display: flex;
  justify-content: end;
  align-items: center;
  color: #667085;
  font-size: 25px;
  font-weight: 500;
  text-align: right;
}

.btn-container {
  display: grid;
  grid-template-columns: 7;
  gap: 5px;
  justify-content: center;
  align-items: stretch;
}

.backspaceIcon {
  color: #066fa9;
}
